/* ----- Common Style Start ----- */
body {
  font-family: "Poppins", sans-serif;
  background: #f3f1ff;
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container {
  background: #ffffff;
  border-radius: 10px;
  width: 870px;
  padding: 30px;
  margin-top: 21px;
}
hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #d1d1d1;
  /* width: 807px;
    height: 0px;
    position: absolute;
    left: 315px;
    top: 410px; */
}
nav {
  width: 1440px;
  height: 94px;
  background: #562eff;
}

.main-menu {
  display: flex;
  margin: 0px 12%;
  align-items: center;
  flex-direction: row;
  /* justify-content: space-between; */
}
.icon {
  display: flex;
  margin-top: 1%;
}
.icon img {
  width: 11%;
  height: 7%;
}
.icon h1 {
  color: #fff;
  margin-left: 16px;
  font-size: 24px;
  font-weight: 500;
}
.menu {
  display: flex;
  align-items: center;
}
.menu a {
  text-decoration: none;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  padding: 0 38px;
}
/* ----- Common Style End ----- */

/* ----- Top player Style-----  */
.section-title {
  color: #562eff;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  margin-top: 3px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  margin-left: 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}
/* ----- Top Blogs Start ----- */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
}
.blog {
  display: flex;
}
.blog .thumbnail img {
  width: 224px;
  height: 127px;
}
.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-size: 20px;
  font-weight: normal;
  margin-top: 0;
}
.blog-author {
  color: #9f9f9f;
  font-size: 16px;
  font-weight: normal;
}
.blog-author a {
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  color: #562eff;
}

/* Latest Course start */
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-column-gap: 50px;
     */
}
.course-items {
  width: 226.42px;
  height: 272.79px;
  border-radius: 12px;
  box-shadow: 1px 1px 15px -2px rgb(0 0 0 / 55%);
  margin: 0px 0px;
  padding: 14px 13px;
}
.courses .course-banner img {
  width: 224px;
  height: 104px;
}
.course-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18.0336px;
  margin-top: 20px;
}
.course-author {
  color: #ed6b4f;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14.6913px;
  margin-top: 7px;
}
.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
  opacity: 0.25;
}
span {
  color: #a2a2a2;
  font-size: 14.6913px;
}
.course-duration {
  background: #ffe4e8;
  border-radius: 14.6913px;
  padding: 3px 10px;
  color: #ff4a60;
  font-size: 14.6913px;
  font-family: Open Sans;
  font-weight: 600;
}
/* Latest Course End */

/* Footer Section Start */

.footer-section {
  width: 924px;
  height: 140px;
  background-color: #ecf0f1;
  margin-top: 19px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 15px -2px rgb(0 0 0 / 20%);
}

.idea h2 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  margin-bottom: -1%;
}
.idea span {
  color: rgb(250, 23, 23);
  font-size: 40px;
}
.idea p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
.idea,
h2 p {
  text-align: center;
}
.idea a {
  text-decoration: none;
  color: #562eff;
}

/* Footer Section End */

/* Set Media query  */

/* mobile devices */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {.header-section .container {
    width: 100%;
    /* Styles */
    }
    
    /* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 321px) {.header-section .container {
        width: 100%;
    /* Styles */
    }
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {.header-section .container {
        width: 100%;
    /* Styles */
    }
    
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {.header-section .container {
        width: 100%;
    /* Styles */
    }
    
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {.header-section .container {
        width: 100%;
    /* Styles */
    }
    
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {.header-section .container {
        width: 100%;
    /* Styles */
    }
    /**********
    iPad 3
    **********/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {.header-section .container {
        width: 100%;
    /* Styles */
    }
    
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {.header-section .container {
        width: 100%;
    /* Styles */
    }
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1224px) {.header-section .container {
        width: 100%;
    /* Styles */
    }
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {.header-section .container {
        width: 100%;
    /* Styles */
    }
    
    /* iPhone 4 ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {.header-section .container {
        width: 100%;
    /* Styles */
    }
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {.header-section .container {
        width: 100%;
    /* Styles */
    }
    
    /* iPhone 5 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){.header-section .container {
        width: 100%;
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){.header-section .container {
        width: 100%;
    /* Styles */
    }
    
    /* iPhone 6, 7, 8 ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){.header-section .container {
        width: 100%;
    /* Styles */
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){.header-section .container {
        width: 100%;
    /* Styles */
    }
    
    /* iPhone 6+, 7+, 8+ ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){.header-section .container {
        width: 100%;
    /* Styles */
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){.header-section .container {
        width: 100%;
    /* Styles */
    }
    
    /* iPhone X ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){.header-section .container {
        width: 100%;
    /* Styles */
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){.header-section .container {
        width: 100%;
    /* Styles */
    }
    
    /* iPhone XS Max, XR ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){.header-section .container {
        width: 100%;
    /* Styles */
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){.header-section .container {
        width: 100%;
    /* Styles */
    }
    
    /* Samsung Galaxy S3 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){.header-section .container {
        width: 100%;
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){.header-section .container {
        width: 100%;
    /* Styles */
    }
    
    /* Samsung Galaxy S4 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){.header-section .container {
        width: 100%;
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){.header-section .container {
        width: 100%;
    /* Styles */
    }
    
    /* Samsung Galaxy S5 ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){.header-section .container {
        width: 100%;
    /* Styles */
    }
    
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){.header-section .container {
        width: 100%;
    /* Styles */
    }
    

/* @media only screen and (max-width: 688px) {
    .header-section .container {
    width: 100%;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat (1, 1fr);
  }
  .player,
  .blog {
    flex-direction: column;
  }
} */
